/README.txt
/.classpath
/forge-*-changelog.txt
/bin/*
/.gradle/*
/eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/*
/eclipse/.metadata/*.dat
/eclipse/.metadata/*.tree
/eclipse/.metadata/*.index
*.index
*~
/temp/*
/build/*
/classes/*
/.idea/*
temp/*
/run/*

